<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100)%>
<%= @user.name %>
<%= @user.introduction %>
<% if @user == current_user %>
  <p><%= link_to "edit_profile", edit_user_path(current_user.id) %></p>
<% end %>



<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>


<h1>Book detail</h1>


<%= image_tag @books.user.get_profile_image(100,100)%>

  <p>Title
  <%= link_to @books.title, book_path(@books)%></p>
  <p>Opinion:<%= @books.body%></p>

<% if @books.user_id == current_user.id %>
    <p><%= link_to "Edit", edit_book_path %></p>
    <p><%= link_to "Destroy", book_path(@books), method: :delete %></p>

<% end %>
